<header>
  <nav>
    <ul>
      <a href="/events" class="nav-link">Events</a>
      <a href="/events/new" class="nav-link">Create</a>
      <a href="/logout" class="nav-link">Logout</a>
    </ul>
  </nav>
</header>
