<header>
    <nav>
      <ul>
        <a href="/events" class="nav-link">Events</a>
        <a href="/events/create" class="nav-link">Create</a>
        <li>
        <form action="/auth/logout" method="POST" style="display: inline;">
          <button type="submit" class="nav-link" style="background: none; border: none; cursor: pointer;">
            Logout
          </button>
        </form>
        </li>
      </ul>
    </nav>
  </header>
  