<header>
    <nav>
      <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/create">Create</a></li>
        <li><a href="/auth/log-out">Log Out</a></li>
      </ul>
    </nav>
  </header>
  