<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Event</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Create A New Event</h1>
    <form action="/events/create" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />

      <label for="startDate">Start Date</label>
      <input type="date" name="startDate" id="startDate" />

      <label for="endDate">End Date</label>
      <input type="date" name="endDate" id="endDate" />

      <button type="submit">Create Event</button>
    </form>
    <img
    src="/assets/corner-ship.png"
    alt="Ship illustration"
    class="corner-ship"
  />
     <!-- This part seems broken, how does it work? -->

  <img 
  src="/assets/hot-air-balloon (1).png"
  alt="hot-air-balloon"
  class="balloon"
  </body>
</html>
