<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fly To Me</title>
</head>
<body>
  <% if (user) { %>
    <h1>Welcome, <%= user.username %>!</h1>
    <ul>
      <% events.forEach((event, index) => { %>
        <a href="events/<%= index %>">
          <li><%= event.name %></li>
        </a>
      <% }); %>
    </ul>
    <p>
    <a href="/create"><button>Create New Event</button></a>
  </p>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>Fly To Me</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/log-in">Log in</a>.
    </p>
  <% } %>

  <form action="/auth/log-in" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
    <button type="submit">Log in</button>
  </form>
</body>
</html>