<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fly To Me</title>
</head>
<body>
  <% if (user) { %>
    <h1>Welcome, <%= user.username %>!</h1>
    <ul>
      <% events.forEach(event => { %>
        <div>
            <h2><a href="/events/<%= event._id %>"><%= event.name %></a></h2>
            
        </div>
    <% }) %>
    
    <p>
    <a href="/events/create"><button>Create New Event</button></a>
  </p>
    <p>
      <a href="/auth/sign-out">Sign out</a>
    </p>
  <% } else { %>
    <h1>Fly To Me</h1>
    <p>
      <a href="/auth/sign-up">Sign up</a> or
      <a href="/auth/log-in">Log in</a>.
    </p>
  <% } %>
</body>
</html>