<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Fly To Me</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Fly To Me</h1>
      <nav>
        <a href="/events" class="nav-link">Events</a>
        <a href="/events/create" class="nav-link">Create</a>
        <a href="/auth/logout" class="nav-link">Logout</a>
      </nav>
    </header>

    <main><%- body %></main>

    <footer>
      <p>&copy; 2025 Fly To Me</p>
    </footer>
  </body>
</html>
